# Xcode
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
build/

# CocoaPods
Pods/

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# macOS
.DS_Store
*.swp
*~

# Secrets (if any)
*.plist.secret
CTRL/Config/Config.plist
